@media screen and (min-width: 992px) {
  .top-btn:hover {
    background: #3da001;
    outline: none;
  }

  .top-btn:focus {
    background: rgba(61, 160, 1, 0.6);
  }
}
@media screen and (max-width: 992px) {
  .offer,
  .features,
  .sets,
  .feedback,
  .production,
  .catalog-1,
  .catalog-2,
  .catalog-3,
  .catalog-4 {
    padding: 45px 0;
  }

  .navlist {
    justify-content: space-around;
  }

  .contacts-phone {
    margin-top: 7px;
  }

  .header__contacts-left,
  .footer__contacts-left {
    margin-right: 20px;
  }

  .user__name {
    margin-right: 10px;
  }

  .form-title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .form__btn {
    margin: 28px auto 0;
    padding: 15px 40px;
    font-size: 18px;
  }

  .promo__form input {
    font-size: 14px;
    padding: 15px 10px;
  }

  .promo__form {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
    max-width: 500px;
  }

  .promo__title h1 {
    font-size: 45px;
    max-width: 740px;
  }

  .promo__title h2 {
    font-size: 38px;
    max-width: 625px;
  }

  .features__title {
    margin-bottom: 50px;
  }

  .features__item-title {
    font-size: 16px;
  }

  .features__item-text {
    font-size: 14px;
  }

  .offer__month {
    font-size: 26px;
    margin-bottom: 40px;
  }

  .offer__title {
    font-size: 40px;
  }

  .offer__text {
    font-size: 27px;
    margin-bottom: 20px;
  }

  .offer__form input,
  .offer__btn {
    max-width: 350px;
  }

  .counter__info {
    font-size: 35px;
  }

  .left-span {
    margin-left: 15px;
  }

  .right-span {
    margin-right: 15px;
  }

  .feedback__title {
    margin-bottom: 60px;
  }

  .feedback__box {
    max-width: 460px;
    margin: 0 10px 30px;
  }

  .feedback__item-list,
  .feedback__text {
    font-size: 14px;
  }

  .feedback__btn {
    font-size: 16px;
    width: 100%;
  }

  .production__img {
    max-width: 100%;
  }

  .production__title {
    margin-bottom: 45px;
  }

  .catalog-1__title,
  .catalog-2__title,
  .catalog-3__title,
  .catalog-4__title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 900px) {
  .contacts-phone a {
    font-size: 16px;
  }
  .contacts-phone a:last-child {
    margin-top: 5px;
  }

  .call-btn {
    width: 150px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
  }

  .header__contacts-left,
  .footer__contacts-left {
    margin-right: 10px;
    margin-left: 10px;
  }

  .contacts-text {
    font-size: 13px;
  }

  .contacts-phone {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo,
  .footer__logo {
    width: 220px;
  }

  .navlist-item a {
    font-size: 16px;
  }

  .promo__title h1 {
    font-size: 34px;
    max-width: 560px;
  }

  .promo__title h2 {
    font-size: 31px;
    max-width: 505px;
  }

  .promo__text {
    font-size: 21px;
    margin-top: 30px;
  }

  .promo__form {
    margin-top: 35px;
    padding: 20px;
  }

  .form-title {
    font-size: 21px;
    margin-bottom: 13px;
  }

  .promo__form input {
    font-size: 16px;
    margin: 5px 0;
  }

  .form__btn {
    margin: 10px auto 0;
    padding: 15px 30px;
    font-size: 18px;
  }

  .offer__month {
    font-size: 23px;
  }

  .offer__title {
    font-size: 35px;
  }

  .offer__text {
    font-size: 23px;
  }

  .title {
    font-size: 30px;
  }

  .counter {
    padding: 20px 0;
  }

  .counter__info {
    font-size: 25px;
  }

  .counter__sum {
    padding: 9px 13px;
  }

  .sets__item-li {
    padding-left: 20px;
    font-size: 13px;
    margin-bottom: 12px;
  }

  .sets__top-inner {
    padding: 0 10px;
  }

  .sets__item-li::before {
    width: 15px;
    height: 20px;
  }

  .sets__item-info {
    font-size: 16px;
    line-height: 20px;
    margin: 15px 0;
  }

  .feedback__box {
    margin: 0 auto 40px;
  }

  .production {
    background-size: contain;
    background-position: top center;
  }

  .production__item-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .header__logo,
  .footer__logo {
    display: block;
    margin: 0 auto;
  }

  .footer-content {
    justify-content: center;
    margin-top: 10px;
  }

  .header__contacts {
    display: none;
  }

  .navlist {
    flex-direction: column;
    align-items: flex-start;
  }

  .navlist-item {
    margin: 5px;
  }

  .promo__title h1 {
    font-size: 30px;
    min-width: 270px;
    max-width: 345px;
  }

  .promo__title h2 {
    font-size: 30px;
    min-width: 270px;
    max-width: 341px;
  }

  .features {
    padding: 40px 0;
  }

  .promo {
    background: none;
  }

  .call-btn {
    width: 140px;
    font-size: 12px;
  }

  .contacts-phone a {
    font-size: 15px;
  }

  .promo__text {
    font-size: 17px;
    margin-top: 30px;
  }

  .form-title {
    font-size: 17px;
    margin-bottom: 13px;
  }

  .promo__form input {
    font-size: 14px;
    margin: 5px 0;
    width: 100%;
  }

  .form__btn {
    margin: 10px auto 0;
    font-size: 15px;
    width: 100%;
  }

  .promo__form {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
  }

  .title {
    font-size: 28px;
  }

  .offer__title {
    font-size: 25px;
  }

  .offer__text {
    font-size: 16px;
  }

  .offer__month {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .offer__form input,
  .offer__btn {
    width: 100%;
  }

  .offer__btn {
    font-size: 16px;
    margin-top: 15px;
    padding: 20px;
  }

  .offer__form input {
    font-size: 14px;
    padding: 15px 10px;
  }

  .counter__info {
    font-size: 16px;
  }

  .counter {
    padding: 15px 0;
  }

  .left-span {
    margin-left: 5px;
  }

  .right-span {
    margin-right: 5px;
  }

  .counter__sum {
    padding: 6px 8px;
    border-radius: 7px;
  }

  .sets__item {
    max-width: 350px;
    margin: 0 auto 20px;
  }

  .sets__item-info {
    margin: 25px 0;
  }

  .feedback__box {
    margin: 0 auto 40px;
    padding: 0 15px;
  }

  .feedback__item {
    flex-direction: column;
    align-items: center;
  }

  .feedback__title {
    margin-bottom: 45px;
  }

  .feedback__img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .production__item {
    padding: 15px;
  }

  .production__title {
    margin-bottom: 30px;
  }

  .production {
    background-image: none;
  }

  .catalog__item-inner {
    margin-bottom: 5px;
  }

  .catalog__item {
    margin: 0 auto;
  }

  .contacts__block {
    margin: 0 auto;
    padding: 35px 20px;
  }

  .contacts__title {
    text-align: center;
  }

  .contacts__list {
    font-size: 16px;
  }

  .contacts__list-phone {
    font-size: 18px;
  }

  .hamburger-menu {
    display: block;
  }

  .header-nav {
    display: none;
  }

  .open {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .navlist {
    justify-content: space-between;
  }

  .slick-prev,
  .slick-next {
    width: 36px;
    height: 36px;
    padding: 6px;
  }
}
